## Problem 3: How many people live near shopping centers? (8 points)

In the last step of this analysis, use a *spatial join* to relate data from a population grid data set to the buffer layer created in *problem 2* to find out how many people live in all population grid cells that are **within** 1.5 km distance from each shopping centre. 

Use the same population grid data set as during [lesson 3](https://autogis-site.readthedocs.io/en/latest/lessons/lesson-3/spatial-join.html) (load it directly from WFS, don’t forget to assign a CRS).


*Feel free to divide your solution into more codeblocks than prepared! Remember to add comments to your code :)*

### a) Load the population grid data set and the buffer geometries

Use the same population grid data set as during [lesson 3](https://autogis-site.readthedocs.io/en/latest/lessons/lesson-3/spatial-join.html) (load it directly from WFS, don’t forget to assign a CRS). Load the data into a `GeoDataFrame` called `population_grid`.

(optional) If you want, discard unneeded columns and translate the remaining column names from Finnish to English.

In [57]:
# ADD YOUR OWN CODE HERE
import geopandas as gpd
population_grid = gpd.read_file(r"C:\Users\IP500\Documents\GitHub\Automating-GIS-Processes\Exercise 3\Vaestotietoruudukko_2021_shp\Vaestotietoruudukko_2021.shp")

In [58]:
population_grid.columns
population_grid.head()

,INDEX,ASUKKAITA,ASVALJYYS,IKA0_9,IKA10_19,IKA20_29,IKA30_39,IKA40_49,IKA50_59,IKA60_69,IKA70_79,IKA_YLI80,geometry
0,688,5,50.60,99,99,99,99,99,99,99,99,99,"POLYGON ((25472499.995 6689749.005, 25472499.9..."
1,703,7,36.71,99,99,99,99,99,99,99,99,99,"POLYGON ((25472499.995 6685998.998, 25472499.9..."
2,710,8,44.50,99,99,99,99,99,99,99,99,99,"POLYGON ((25472499.995 6684249.004, 25472499.9..."
3,711,7,64.14,99,99,99,99,99,99,99,99,99,"POLYGON ((25472499.995 6683999.005, 25472499.9..."
4,715,11,41.09,99,99,99,99,99,99,99,99,99,"POLYGON ((25472499.995 6682998.998, 25472499.9..."

In [59]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
import geopandas
import pyproj

assert isinstance(population_grid, geopandas.GeoDataFrame)
assert population_grid.crs == pyproj.CRS("EPSG:3879")



Load the buffers computed in *problem 2* into a `GeoDataFrame` called `shopping_centre_buffers`. Add an `assert` statement to check whether the two data frames are in the same CRS.

In [60]:
# ADD YOUR OWN CODE HERE
shopping_centre_buffers = gpd.read_file(r"C:\Users\IP500\Documents\GitHub\Automating-GIS-Processes\Exercise 3\shopping_centres.gpkg", layer ="buffer")

In [61]:
shopping_centre_buffers.head()

,address,id,name,addr,geometry
0,"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va...",1,Itis,"Itäkatu 1-7, 00930 Helsinki, Finland","POLYGON ((25506098.295 6677735.710, 25506098.2..."
1,"Salaattiasema, 14-20, Mannerheimintie, Keskust...",2,Forum,"Mannerheimintie 14–20, 00100 Helsinki, Finland","POLYGON ((25498073.236 6672951.962, 25498073.2..."
2,"Iso Omena, 11, Piispansilta, Matinkylä, Suur-M...",3,Iso-omena,"Piispansilta 11, 02230 Espoo, Finland","POLYGON ((25486970.128 6672144.568, 25486970.1..."
3,"Lasten kappeli Arkki, 3-9, Leppävaarankatu, Sä...",4,Sello,"Leppävaarankatu 3-9, 02600 Espoo, Finland","POLYGON ((25490990.769 6678395.867, 25490990.7..."
4,"Stockmann, 3, Vantaanportinkatu, Vantaanportti...",5,Jumbo,"Vantaanportinkatu 3, 01510 Vantaa, Finland","POLYGON ((25499443.625 6686730.583, 25499443.6..."

In [62]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
assert isinstance(shopping_centre_buffers, geopandas.GeoDataFrame)
assert shopping_centre_buffers.geometry.geom_type.unique() == ["Polygon"]
assert shopping_centre_buffers.crs == pyproj.CRS("EPSG:3879")


---

### b) Carry out a *spatial join* between the `population_grid` and the `shopping_centre_buffers`

Join the shopping centre’s `id` column (and others, if you want) to the population grid data frame, for all population grid cells that are **within** the buffer area of each shopping centre. [Use a *join-type* that retains only rows from both input data frames for which the geometric predicate is true](https://geopandas.org/en/stable/gallery/spatial_joins.html#Types-of-spatial-joins).

In [63]:
# ADD YOUR OWN CODE HERE
population_grid = population_grid[["ASUKKAITA", "geometry"]]
population_grid = population_grid.rename(columns={"ASUKKAITA": "population"})

In [71]:
assert population_grid.crs == shopping_centre_buffers.crs
shopping_with_population_data = gpd.sjoin(
    population_grid, shopping_centre_buffers,
    how="right",
    op="within"
)

C:\Users\IP500\miniconda3\envs\python-gis\lib\site-packages\IPython\core\interactiveshell.py:3338: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [72]:
shopping_with_population_data.head()

,index_left,population,address,id,name,addr,geometry
0,5003,298,"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va...",1,Itis,"Itäkatu 1-7, 00930 Helsinki, Finland","POLYGON ((25506098.295 6677735.710, 25506098.2..."
0,5186,150,"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va...",1,Itis,"Itäkatu 1-7, 00930 Helsinki, Finland","POLYGON ((25506098.295 6677735.710, 25506098.2..."
0,5185,246,"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va...",1,Itis,"Itäkatu 1-7, 00930 Helsinki, Finland","POLYGON ((25506098.295 6677735.710, 25506098.2..."
0,5002,191,"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va...",1,Itis,"Itäkatu 1-7, 00930 Helsinki, Finland","POLYGON ((25506098.295 6677735.710, 25506098.2..."
0,5064,371,"Kauppakeskus Itis, 1-7, Itäkatu, Itäkeskus, Va...",1,Itis,"Itäkatu 1-7, 00930 Helsinki, Finland","POLYGON ((25506098.295 6677735.710, 25506098.2..."


---

### c) Compute the population sum around shopping centres

Group the resulting (joint) data frame by shopping centre (`id` or `name`), and calculate the `sum()` of the population living inside the 1.5 km radius around them.

Print the results, for instance, in the form "12345 people live within 1.5 km from REDI".

In [74]:
# ADD YOUR OWN CODE HERE
grouped_data = shopping_with_population_data.groupby("name")
grouped_data.sum()

           index_left  population   id
name
Forum          263264       56296  152
Iso-omena      112636       26726  240
Itis           391870       20680   77
Jumbo          145209       11468  200
REDI           159998       29085  252
Sello          137849       22984  252
Triple         182787       24552  378


---

### d) Reflection

Good job! You are almost done with this week’s exercise. Please quickly answer the following short questions:
    
- How challenging did you find problems 1-3 (on scale to 1-5), and why?
- What was easy?
- What was difficult?

Add your answers in a new *Markdown* cell below: